<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>90235107077-ghl3lgba803pjbcctcqvvifbe5egcqso.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.90235107077-ghl3lgba803pjbcctcqvvifbe5egcqso</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>90235107077-jif04uarcqreb8bvk2411oruvvkks3sg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC9s5juB7LHmteq7EKunhCodywTVwd0mPo</string>
	<key>GCM_SENDER_ID</key>
	<string>90235107077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.siscom.siscomhris</string>
	<key>PROJECT_ID</key>
	<string>siscom-hris</string>
	<key>STORAGE_BUCKET</key>
	<string>siscom-hris.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:90235107077:ios:52753f221f56f0e1ba296c</string>	
</dict>
</plist>